/*Reset styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --title-color: #000000;
    --text-color: #240000;
    --price-color: #810B38;
    --button-color: #810B38; 
    --hover-color: #e20057;
    --background-color: #DCC3AA;
    --box-color: #F1E2D1;
}
