body{
    background-color: var(--background-color);
    display: flex;
    flex-direction:column;
    align-items: center;
    min-height: 100vh;
}

main{
    margin: 95px 27px 95px 27px;
}

.box-container{
    background-color: var(--box-color);
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.15);
    border-radius: 35px;
}

.perfume-img{
    object-fit: cover;
    width: 100%;
    height: 320px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.content-wrapper{
    padding: 0 27px 0 27px;

}


.perfume-subtitle{
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 40%;
    text-align: center;
    margin-bottom: 15px;
}

.perfume-title{
    color: var(--title-color);
    font-family: 'Fraunces', serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.perfume-description{
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

.price-box{
    font-family: 'Fraunces', serif;
    display: flex;
    justify-content: center;
}

.price{
    color: var(--price-color);
    font-size: 25px;
    font-weight: 700;
    margin-right: 15px;
    margin-bottom: 15px;
}

.price-discount{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 300;
    text-decoration: line-through;
}

.button{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

.add-to-cart-btn{

    background-color: var(--button-color);
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 27px;
    padding: 17px 30px 17px 30px;
    text-align: center;
    border-radius: 15px;
    border: none;
    width: 100%;
}

.cart-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.footer{
    font-size: 15px;
    color: var(--text-color);
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
}

@media (min-width: 768px) {

    .box-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 680px;
    }

    figure{
        margin: 0;
        display: flex;
        flex: 1;
        height: 700px;
    }

    .content-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        padding: 35px;

    }

    .perfume-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .perfume-subtitle{
        text-align: left;
        font-size: 20px;
    }

    .perfume-title{
        text-align: left;
        font-size: 36px;
    }

    .perfume-description{
        text-align: left;
        font-size: 20px;
    }

    .purchase-section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        padding: 35px;
    }

    .price{
        font-size: 40px;
        text-align: left;
    }

    .price-discount{
        font-size: 18px;
        text-align: left;
    }

    .button{
        width: 100%;
    }

    .add-to-cart-btn{
        font-size: 20px;
        padding: 20px 40px;
        width: 100%;
    }

    .footer{
        font-size: 22px;
    }

}